Django
djangorestframework
python-dotenv
pillow
django-cors-headers

# Add these to existing requirements
djangorestframework-api-key
django-crispy-forms
crispy-bootstrap5
opencv-python
numpy
celery
redis
django-celery-results
django-celery-beat
pdf2image
pytesseract
psycopg2-binary
face-recognition
setuptools==70.3.0
whitenoise
daphne
channels
dj_database_url
django-storages[s3]
boto3
requests